@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');

*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* Custom variables */
::-webkit-scrollbar {
    display: none;
}

section{
    scroll-margin-block: 6.7rem;
}

/*Custom Variable */
:root {
    --primary: rgb(248, 165, 179) ;
    --secondary: white;
    --alternative: rgb(7, 3, 3);
    --tertiary: maroon;
    --awesome: rgb(232, 37, 37);
    --mainBox-shadow: black;
    --shadow:var(--primary);
}
@property --top-left {
    syntax:"<percentage>";
    inherits: false;
    initial-value:50%;
}
@property --top-right{
    syntax: "<Percentage>";
    inherits: false;
    initial-value:50%;
}
@property --bottom-left{
    syntax: "<percentage>";
    inherits: false;
    initial-value:0%;
}
@property --bottom-right {
    syntax: "<percentage>";
    inherits: false;
    initial-value:0%;
}

/* Bootstrap icon */
/* wrapper */
:is(.wrapper){
    display: grid;
    grid-template-rows: auto minmax(100dvh, 100%) auto;
    background-color: var(--primary);
}

/* app */
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
  }

  /*Navbar & footer*/
:is(.navbar, footer){
    background-color: var(--tertiary);
}

/* Navbar */
:is(.nav-link) {
    color: var(--secondary); 
}
  
/* Navbar */
a { 
    transition: all .5s;
 
    &:hover {
     transform: scale(1.2);
     text-decoration: underline;
 
    }
 }

/* Page Name Style */
.display-2{
    font-size: 3rem;
    font-weight: bold;
    font-family: "Tiro Devanagari Hindi", serif;

}

:is(#about, #resume, #skills, #projects, #testimonials, #contactinfo){
    margin-block: 5rem;
}

/* Select all images */
img{
    object-fit: cover;
    object-position: center;
}

/* Logo */
img[alt='logo'] {
    aspect-ratio: 1;
    width: 5rem;
       
}
/* Home Image */
img[alt='profile'] {
    width: 25rem;
    border-color: var(--tertiary);
    border-radius: 20%;
}

.lead {
    font-size: 4rem;
    font-weight: bold;
    font-family: "Inknut Antiqua", serif;
    margin-top: 7rem;
}
.slogan{
    font-size: 1rem;
    font-weight: bold;
    font-family: "Inknut Antiqua", serif;
}


/* Animation for Landing Page */
.image-1 {
    overflow: hidden;
  }
  
  .image-1{
    opacity: 0; 
    animation: fadeInLeft 1s forwards; 
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Animation for the Home tag */
  .home-1 {
    opacity: 0; 
    animation: fadeInTop 1s forwards; 
  }
  
  @keyframes fadeInTop {
    from {
      opacity: 0;
      transform: translateY(-100%); 
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .lead {
    opacity: 0; 
    animation: fadeInRight 1s forwards; 
    
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* About */
.cardAbout{ 
    background-color: var(--tertiary);
    width: 90%;
    margin-left: 5rem;
    padding: 1rem;
}
/* About text */
.card-text{
    text-align: left;
    color: var(--secondary);
    font-size: 1.5rem;
}

.card-text1{
    text-align: left;
    color: var(--secondary);
    font-size: 1.3rem;

}


/* Resume */
.cardResume {
    background-color: var(--tertiary);
    margin-top: 1rem;
}
img[alt='resume'] {
    width: 15rem;
    height: 12rem;
}

img[alt='resume1'] {
    width: 15rem;
    height: 15rem;
}
img[alt='resume2'] {
    width: 17rem;
    height: 12rem;
}

.resume-item {
    display: flex;
    align-items: center;
   
}

.resume-text {
    margin-left: 1rem;
}

.card-content {
    padding: 0.5rem;
}


/* Responsiveness */

@media screen and (max-width: 768px) {
    .cardAbout {
        width: 100%;
        margin-left: 0rem;
    }
    .lead {
        font-size: 3rem;
        margin-top: 2rem;
    }
    .display-2 {
        font-size: 2rem;
    }
    img[alt='profile'] {
        width: 90%;
    }
    .card-text, .card-text1 {
        font-size: 1rem;
    }
}

.cardResume {
    margin-top: 1rem;
}

img[alt='resume'] {
    width: 15rem;
    height: 12rem;
}

img[alt='resume1'] {
    width: 15rem;
    height: 15rem;
}

img[alt='resume2'] {
    width: 15rem;
    height: 15rem;
}

.resume-item {
    display: flex;
    align-items: center;
}

.resume-text {
    margin-left: 0rem;
}

.card-content {
    padding: 0.5rem;
}

@media screen and (max-width: 768px) {
    .resume-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .resume-text {
        margin-left: 0;
        margin-top: 1rem;
    }
}

/* Skills Section */
.cardSkills{
    margin-top: 1rem;
    width: 20%;
    border-radius: 10%;
    
}

img[alt='skills'] {
 margin-top: 0.5rem;   
}

img[alt='skills1'] {
    height: 10rem;  
   }

.card-body{
    background-color: var(--tertiary);
    height: 5rem;
    margin-top: 1rem;
    border-bottom-left-radius:10%;
    border-bottom-right-radius:10%;
}